include README.md
include COPYRIGHT
recursive-include cloud_select *.png
recursive-include cloud_select *.sh
recursive-include cloud_select *
recursive-include * *.png
prune env*
global-exclude .env
global-exclude *.py[co]
recursive-exclude .git *
global-exclude __pycache__
prune docs*
prune cloud_select/tests
prune apigen
